*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
}

a{
  color:aqua;
  text-decoration: none;

}
.container{
  padding: 0 1rem;
}
.btn{
  display: inline-block;
  border: none;
  background:darkblue;
  color:darkgray;
  padding: 8px 20px;
  cursor: pointer;
}
.btn:hover {
  background:darkgray;
}